<head>
  <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #feed{
    text-align: center;
  }
  </style>
  </head>


<h1>Hi</h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button></form>
  <a href="/upload">Post sth</a>

  
  <div id="feed"></div>

  <script type="text/javascript" src="../app.js"></script>